<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{$title}</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="/static/uikit/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="/static/uikit/js/uikit.min.js"></script>
    <script src="/static/uikit/js/uikit-icons.min.js"></script>
    <!--jquery-->
    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/admin/js/public.js"></script>
</head>
<body>
    <h1>的SV风格还是</h1>
</body>
</html>